.navigation{
  display: inline;
  margin-right: 85px;
  margin-top: 70px;
  float:right;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 70px;
}
*{
  margin: 0;
  padding: 0;
}
.exp{
  margin-top: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 21px;
}
.col{
  margin-top: 80px;
  column-count: 2;
  column-gap: 155px;
  column-width: 190px;
  column-rule: 2px solid black;
}
.what{
  font-family: sans-serif;
  font-size: 69px;
  margin-left: 150px;
}
.t1{
  font-family: sans-serif;
  margin-right: 80px;
  line-height: 25px;
  font-size: 14px;
}
.k1{
  position: absolute;
  margin-top: 110px;
  margin-left: 10px;
}
.ph{
  width: 680px;
  height: 390px;
}
.inf{
  width: 647px;
  height: 200px;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 14px;
}
.ab{
  font-weight: bold;
  margin-top: 90px;
  margin-left: 330px;
  font-size: 18px;
  font-family: sans-serif;
}
.line{
  border-left: 2px solid black;
  height: 79px;
  position: absolute;
  margin-left: 759px;
}
.ots{
  margin-top: 180px;
}
.cont{
  font-size: 69px;
  font-family: sans-serif;
  margin-top: 280px;
  margin-left: 211px;
}
.ad{
  margin-top: 150px;
  font-family: sans-serif;
  margin-left: 30px;
  font-weight: bolder;
}
.ad1{
  margin-top: 8px;
  margin-left: 30px;
  width: 150px;
  font-family: sans-serif;
}
.phon{
  margin-top: 30px;
  font-family: sans-serif;
  margin-left: 30px;
  font-weight: bolder;
}
.phon1{
  margin-top: 8px;
  margin-left: 30px;
  width: 150px;
  font-family: sans-serif;
}
.em{
  position: absolute;
  font-family: sans-serif;
  margin-left: 350px;
  margin-top: 30px;
  font-weight: bolder;
}
.em1{
  position: absolute;
  margin-left: 350px;
  width: 150px;
  font-family: sans-serif;
  margin-top: 55px;
}
.table1{
  background: #f1f1f1;
  width: 340px;
  height: 28px;
  border: none;
  margin-right: 120px;
  margin-top: 25px;
}
.fr{
  float: right;
  margin-top: 50px;
}
.name{
  font-family: sans-serif;
  position: absolute;
}
.table2{
  background: #f1f1f1;
  width: 340px;
  height: 28px;
  border: none;
  margin-right: 120px;
  margin-top: 40px;
}
.email{
  margin-top: 15px;
  font-family: sans-serif;
  position: absolute;
}
.mes{
  margin-top: 15px;
  font-family: sans-serif;
  position: absolute;
}
.table3{
  background: #f1f1f1;
  width: 340px;
  height: 160px;
  border: none;
  margin-right: 120px;
  margin-top: 40px;
  resize: none;
}
.but{
  margin-left: 145px;
  margin-top: 12px;
  outline: none;
  border: none;
  background: white;
  font-family: sans-serif;
}
.last{
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 120px;
  font-size: 18px;
  margin-left: 130px;
  margin-bottom: 60px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  font-weight: bold;
}
.op1{
  float:left;
  margin-left: 30px;
  margin-right: 143px;
}
.about{
  font-family: sans-serif;
  font-size: 69px;
  text-align: right;
  margin-right: 270px;
  margin-top: 160px;
}
.text1{
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 85px;
  height: 100px;
  width: 1400px;
  line-height: 25px;
}
.sasha{
  margin-bottom: 565px;
}
.f1{
  float: left;
  width: 759px;
  height: 544px;
}
.f2{
  width: 759px;
  height: 544px;
}
.f3{
  float:left;
  width: 25%;
}
.f4{
  float:left;
  width: 25%;
}
.f5{
  width: 25%;
  float:left;
  height: 380px;
}
.f6{
  width: 25%;
}
img{
  display: block;
}
.ots1{
  margin-top: 60px;
  margin-bottom: 550px;
}
.pl1, .pl2, .pl3, .pl4{
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  position: absolute;
}
.box1, .box2, .box3, .box4{
  width: 36px;
  height: 36px;
  background: #c8c3c3;
  position: absolute;
  margin-left: 745px;
}
.pl1{
  margin-top: 65px;
  margin-left: 1026px;
}
.box1{
  margin-top: 60px;
}
.pl2{
  margin-top: 165px;
  margin-left: 1046px;
}
.box2{
  margin-top: 160px;
}
.pl3{
  margin-top: 265px;
  margin-left: 1048px;
}
.box3{
  margin-top: 260px;
}
.pl4{
  margin-top: 365px;
  margin-left: 1000px
}
.box4{
  margin-top: 360px;
}
.hv:hover .box1{
  background: grey;
}
.hv:hover .pl1{
  font-weight: bold;
}
.hv:hover .box2{
  background: grey;
}
.hv:hover .pl2{
  font-weight: bold;
}
.hv:hover .box3{
  background: grey;
}
.hv:hover .pl3{
  font-weight: bold;
}
.hv:hover .box4{
  background: grey;
}
.hv:hover .pl4{
  font-weight: bold;
}
